*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Niramit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.background {
    /* border: solid; */
    width: 100vw;
    height: 200vh;
    background-color: #2F4550;
    background-image: url(./resources/fondo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;


}
.backimg{
    border: solid;
    width: 150.125rem;
    height: 87.5rem;
}

.header {
    /* border: solid; */
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2F4550;
}

.header2 {
    /* border: solid; */
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #D1A24A;
    font-size: 1.3rem;
}

.salado{
    /* border: solid; */
    width: 60vw;
    height: 80vh;
}

#menu {
    /* border: solid; */
    width: 1.875rem;
    height: 1.875rem;
    background-image: url(./resources/icono2.png);
    background-size: cover;
    background-position: center center;

}

#especiales {
    /* border: solid; */
    width: 10vw;
    height: 5vh;
    color: white;
    font-size: 1.3rem;
    align-items: center;
    display: flex;
    text-shadow: 1px 1px 2px rgb(104, 104, 104)
}

#contacto {
    /* border: solid; */
    width: 10vw;
    height: 5vh;
    display: flex;
    color: white;
    align-items: center;
    font-size: 1.3rem;
    text-shadow: 1px 1px 2px rgb(104, 104, 104)
}

#salado{
    /* border: solid; */
    width: 10vw;
    height: 3vh;
    color: white;
    align-items: center;
    display: flex;
    text-shadow: 1px 1px 2px rgb(104, 104, 104)
}

#brunch {
    /* border: solid; */
    width: 10vw;
    height: 3vh;
    color:white;
    align-items: center;
    display: flex;
    text-shadow: 1px 1px 2px rgb(104, 104, 104)
}

#bebidas-calientes {
    /* border: solid; */
    width: 12vw;
    height: 3vh;
    color: white;
    align-items: center;
    display: flex;
    text-shadow: 1px 1px 2px rgb(104, 104, 104)
}

#panaderia {
    /* border: solid; */
    width: 10vw;
    height: 3vh;
    color: white;
    align-items: center;
    display: flex;
    font-weight: medium;
    text-shadow: 1px 1px 2px rgb(104, 104, 104)
    
}

#asd{
    /* border: solid; */
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.875rem;
}



#titulofavoritos{
    /* border: solid black; */
    margin-top: 1.25rem;
    width: 9vw;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 1.7rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(30, 46, 69)
}

 #btn {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
 }

div img.buscadorLupa{
    position: relative;
    left: 1.563rem;
}

input#buscador {
    display: flex;  
    background-color: white;
    border: none;
    border-radius: 1.563rem;
    width: 28.125rem;
    color: #2F4550;
}

.block {
 width:  18.75rem;
 display: flex;
 flex-direction: column;
 justify-content: center;
 border-radius: 0.625rem;
 align-items: center;
 -webkit-box-shadow: -4px 3px 55px -9px rgba(28,42,48,1);
-moz-box-shadow: -4px 3px 55px -9px rgba(28,42,48,1);
box-shadow: -4px 3px 55px -9px rgba(28,42,48,1);
 
}


.block__innerblocks{
    height: 50%;
    background-size: cover;
}


#campo1 {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem;
  }
  
  .producto {
    justify-content: center;
    background-color: #4b6978;
    border-radius: 0.15rem;
    height: 10rem;
    width: 15rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .producto img {
    width: 50%;
    height: 25%;
  }
  
  .producto h3 {
    font-size: 1.2em;
    margin: 0,9rem;
    color: #ffffff;
  }
  
  .producto.price {
    font-size: 1rem;
    color: #ffffff;
    font-weight: bold;
    margin: 0,5 rem;
  }
  
  .producto.description {
    font-size: 0.9rem;
    color: #ffffff;
  }
  
  .producto:hover {
    transform: translateY(-5px);
  }

  .bottomblock1 {
    justify-content: center;
    background-color: #4b6978;
    height: 10rem;
    width: 15rem;
    color: white;
  }

  .img-detail {
    height: 15rem;
    width: 15rem;;
  }

  .div {
    
    justify-content: center;
    background-color: #4b6978;
    height: 25.5rem;
    width: 15rem;
    border-radius: 0.5rem;
  }

  .espacio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }



  
  

 

  


