body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Fondo_Mesa\ de\ trabajo\ 1.png);
    background-size: cover;
    width: 100%;
    height: 100%;
}


section.cuadrado {
    display: flex;
    background: #1e4b70;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 80%;
}

section.izquierda, section.derecha {
    padding: 1,2rem;
}

section.izquierda {
    flex: 1;
}

section.derecha {
    flex: 2;
}

h1.titulo, h1.derechap {
    margin-bottom: 1,2rem;
    color: white;
}

.medio .cuadrado1, .medio .cuadrado2 {
    margin-bottom: 1,2rem;
}

.cuadritod {
    margin-bottom: 1,2rem;
}

.texto, .texto1 {
    font-weight: bold;
    color: white;

}

.info1 {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.4rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
}

.botonchiqui {
    display: flex;
    justify-content: space-between;
}

.peque {
    background-color: #154069;
    color: white;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
}

.peque:hover {
    background-color: #d3a500;
}
